<div class="max-w-md mt-5 mx-auto bg-white rounded-lg shadow-lg p-6">
  <div class="mb-4">
    <div class="block text-gray-700 font-bold mb-2">
        ID: <%= @user.id %>
    </div>
  </div>
  <div class="mb-4">
    <div class="block text-gray-700 font-bold mb-2">
        Name: <%= @user.name %>
    </div>
  </div>
  <div class="mb-4">
    <div class="block text-gray-700 font-bold mb-2">
        Email: <%= @user.email %>
    </div>
  </div>
  <div class="mb-4">
    <div class="block text-gray-700 font-bold mb-2">
        Toys: <%= @user.posts.count %>
    </div>
  </div>

  <% if current_user && current_user.id == @user.id %>
    <%= link_to "Edit Profile", edit_user_registration_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>

    <button class="bg-blue-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
       <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    </button>
  <% end %>
<div>