<div class="border-b pb-4">
  <div class="flex items-center mb-2">
    <h2 class="text-lg mr-2">
      <%= link_to post.user.name, user_path(id: post.user_id) %>
    </h2>
    <h2 class="text-xl font-bold">
      <%= link_to post.title, post_path(post) %>
    </h2>
  </div>
  <p class="text-gray-700 mb-2"><%= post.body %></p>
  <div class="flex flex-wrap gap-2">
    <% post.tags.each do |tag| %>
      <span class="px-2 py-1 bg-gray-200 rounded-full text-sm">
        <%= tag.name %>
      </span>
    <% end %>
  </div>
  <% if current_user && current_user.id == post.user.id %>
    <div class="flex mt-2">
      <p class="mr-4 ml-2 text-blue-500">
        <%= link_to "Edit", edit_post_path(post) %>
      </p>
      <p class="text-red-500">
        <%= link_to 'Delete', post_path(post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      </p>
    </div>
  <% end %>
  <p class="text-gray-700 mt-2">
    Comments(<%= post.comments.count %>)
  </p>
</div>
